<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Time</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <h3 style="text-align: center;">Current time and date:</h3>
        <div class="timebox">
            <h1>@ViewBag.Time</h1>
        </div>
    </div>
</body>
</html>